.photo {
  height: 650px;
  width: 420px;
}

.photologin {
  background-image: url(../../img/LoginBG.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.imgRe {
  background-image: url(../../img/ResgiterBG.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #fbeee0 0%,
    #fff8f1 51%,
    #ff6e7f 100%
  );
}
.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: white;
  text-decoration: none;
}

.btn-grud {
  background-image: linear-gradient(
    to right,
    #c9ffbf 0%,
    #ffafbd 51%,
    #c9ffbf 100%
  );
}
.btn-grud {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  font-weight: bold;
}

.btn-grud:hover {
  background-position: right center; /* change the direction of the change here */
  color: white;
  text-decoration: none;
}

.gender {
  text-align: left;
}

.forgot {
  margin: 0px;
  padding: 0px;
  color: #1976d2;
}
.forgot:hover {
  cursor: pointer;
  text-decoration: underline;
}

.commit {
  text-align: center;
}
