.addRec {
  margin: 1% 15% 5% 15%;
  border: 1px solid gray;

  border-radius: 5px;
}
.btnGoBack {
  text-align: left;
  margin-left: 15%;
  margin-top: 3%;
}
.addLeft {
  background-color: rgb(255, 239, 220);
  border-right: 1px solid gray;
}
.imgUpload {
  background-color: white;
  border: 1px dashed gray;
  margin: 20% 10% 0% 10%;
  height: 40vh;
}
.imgUpload:hover {
  cursor: pointer;
}

.imgUp {
  width: 50%;

  position: inherit;
}

.imgUploadTopic {
  background-color: white;
  border: 1px dashed gray;
  margin: 10% 20% 0% 20%;
  height: 20vh;
}
.imgUploadTopic:hover {
  cursor: pointer;
}

.imgUpTopic {
  width: 50%;

  position: inherit;
}
